*.py[cod]
__pycache__
.tox
dj_stripe.egg-info
*.mo
.env

# Environments
.venv

# SQLite
*.sqlite3

# Coverage
/cover
.coverage

# Editor files
.vscode
.idea

# Do not commit Poetry lockfiles for libraries
poetry.lock
