# Config file for automatic testing at travis-ci.org

language: python

python:
  - 3.3
  - 2.7

env:
  - DJANGO=1.5
  - DJANGO=1.6
  - DJANGO=1.7

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: 
  - pip install -r requirements_test.txt

before_script:
  - psql -U postgres -c 'CREATE DATABASE "djstripe";'

# command to run tests, e.g. python setup.py test
script: python runtests.py

matrix:
  exclude:
    - python: 3.3
      env: DJANGO=1.4
