[tool.poetry]
name = "dj-stripe"
version = "2.9.0-beta.1"
description = "Django + Stripe made easy"
license = "MIT"
authors = [
    "Alexander Kavanaugh <alex@kavdev.io>",
    "Jerome Leclanche <jerome@leclan.ch>",
    "Abe Hanoka <abe@habet.dev>",
]
readme = "docs/README.md"
homepage = "https://dj-stripe.dev"
repository = "https://github.com/dj-stripe/dj-stripe"
documentation = "https://dj-stripe.dev/dj-stripe/"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "Topic :: Office/Business :: Financial",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Framework :: Django",
    "Framework :: Django :: 4.2",
    "Framework :: Django :: 5.0",
    "Framework :: Django :: 5.1",
]

packages = [{ include = "djstripe" }]
include = ["AUTHORS.md", "CONTRIBUTING.md", "HISTORY.md", "LICENSE"]
exclude = ["manage.py"]

[tool.poetry.urls]
"Funding" = "https://github.com/sponsors/dj-stripe"


[tool.poetry.dependencies]
python = "^3.9.0"
django = ">=4.2"
stripe = ">=8.0.0"
psycopg2 = { version = "^2.8.5", optional = true }
mysqlclient = { version = ">=1.4.0", optional = true }

[tool.poetry.group.dev]
optional = true
[tool.poetry.group.dev.dependencies]
mypy = ">=1.10.0"
pre-commit = "^3.7.0"
pytest = ">=7.3.1"
pytest-django = ">=4.5.2"
ruff = "^0.7.3"

[tool.poetry.group.docs]
optional = true
[tool.poetry.group.docs.dependencies]
mkdocs = ">=1.6.0"
mkdocs-material = ">=9.5.24"
mkdocs-autorefs = ">=1.0.1"
mkdocstrings = { extras = ["python"], version = ">=0.25.1" }
mike = ">=2.1.1"
jinja2 = ">=3.1.4"


[tool.poetry.group.ci]
optional = true
[tool.poetry.group.ci.dependencies]
coverage = { version = ">=6.5,<8.0", extras = ["toml"] }
tox = "^3.26.0"
tox-gh-actions = "^2.10.0"

[tool.poetry.extras]
postgres = ["psycopg2"]
mysql = ["mysqlclient"]

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry_core>=1.1.0"]
build-backend = "poetry.core.masonry.api"
