# dj-stripe requirements
stripe>=1.22.2
django-model-utils>=2.2
django-braces>=1.8.0
jsonfield>=1.0.3
pytz>=2015.4

# Testing tools
unittest2>=1.0.1
coverage<=3.7.1
flake8>=2.4.1
mock>=1.0.1
nose>=1.3.6
django-nose>=1.4
tox>=2.0.1
termcolor>=1.1.0

# Contrib packages
djangorestframework>=3.1.2

# Database drivers
psycopg2>=2.6

# Packaging
wheel>=0.24.0
