-r requirements.txt

# Testing tools
coverage>=3.7.1
django-nose>=1.4.1
flake8>=2.4.1
mock>=1.3.0
nose>=1.3.7
termcolor>=1.1.0
tox>=2.1.1
unittest2>=1.1.0

# Contrib packages
djangorestframework>=3.2.2

# Database drivers
psycopg2>=2.6.1

# Packaging
wheel>=0.24.0
