django!=1.9,>=1.8  # Django has a regression in 1.9, see #275
django-braces>=1.9.0
django-model-utils>=2.5.2
django-polymorphic>=1.0
jsonfield>=1.0.3
pytz>=2016.6.1
stripe==1.41.0
tqdm>=4.8.4
python-doc-inherit~=0.3.0
mock-django~=0.6.10
