{% load static %}
<div id="history-table">
<h2>Payment History</h2>
{% if customer.invoices.all %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Date</th>
                <th>Amount</th>
                <th class="pull-right"><img class="in-progress-gif" src="{% static 'img/in-progress.gif' %}" /></th>
            </tr>
        </thead>
        {% for invoice in customer.invoices.all %}
            <tr>
                <td class="fixed">#{{ invoice.id }}</td>
                <td>{{ invoice.date|date:"M d" }}</td>
                </td>
                <td>
                    {% if invoice.paid and invoice.total > 0 %}
                        <p>
                            <span class="label label-success">Paid</span> ${{ invoice.total|floatformat:"2" }}
                        </p>
                    {% endif %}
                    
                    {% if invoice.paid and invoice.total < 0 %}
                        <p>
                            <span class="label label-success">Credit</span> ${{ invoice.total|floatformat:"2" }}
                        </p>
                    {% endif %}
                </td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>You have not made any payments yet.</p>
{% endif %}
</div>