{% extends "djstripe/base.html" %}
{% load static djstripe_tags %}

{% block title %}Choose a Subscription{% endblock title %}

{% block content %}
{{ block.super }}
<ul class="breadcrumb">
    <li><a href="{% url 'djstripe:account' %}">Home</a></li>
    <li class="active">Subscription</li>
</ul>
<h2>Choose a Subscription</h2>

{% if error %}
    <div class="alert alert-error">{{ error }}</div>
{% endif %}
{% if view.error %}
    <div class="alert alert-error">{{ view.error }}</div>
{% endif %}

{% if PLAN_TAGS and not SELECTED_TAG %}
<div class="row">
    <div class="col-xs-12">
    <h4>Select your subscription type:</h4>
    {% for plan_tag_k, plan_tag_v in PLAN_TAGS.items %}
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 ">
            <button type="button" class="btn btn-info" id="button_{{ plan_tag_k }}">{{ plan_tag_v.button_description }}</button>
            <br/>
            {{ plan_tag_v.full_description }}
        </div>
    {% endfor %}
    </div>
</div>
<hr/>
{% endif %}

<div class="row">
{% for plan in PLAN_LIST %}
    {% with plan_count=PLAN_LIST|length %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 div_{{ plan.tag }}">
    {% endwith %}
        {% if customer.current_subscription.plan == plan.plan and customer.current_subscription.status != CurrentSubscription.STATUS_CANCELLED %}
            <div class="btn btn-default disabled">
            {% else %}
            <a class="btn btn-primary" href="{% url 'djstripe:confirm' plan=plan.plan %}" role="button">
            {% endif %}
                {% with image=plan.image|default:"img/default-plan-image.png" %}
                  <img src="{% static image %}" class="img-thumbnail" />
                {% endwith %}
                <h3>{{ plan.name }}</h3>
                <p>{{ plan.description }}</p>

            {% if customer.current_subscription.plan == plan.plan and customer.current_subscription.status != CurrentSubscription.STATUS_CANCELLED %}
            </div>
            <h4>Your Current Plan</h4>
            {% else %}
            </a>
                {% if customer.current_subscription.amount < plan.price|djdiv:100 %}
                  <h4>Upgrade</h4>
                {% elif customer.current_subscription.amount > plan.price|djdiv:100 %}
                  <h4>Downgrade</h4>
                {% else %}
                  <br/><p></p>
                {% endif %}
            {% endif %}
    </div>
{% endfor %}
</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block javascript %}
{{ block.super }}
<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script text="text/javascript">
  $(function() {
    // Code to show/hide tags div
    {% if PLAN_TAGS and not SELECTED_TAG %}
    $(function() {
      // start by showing the default
      {% for plan_tag_k in PLAN_TAGS %}
        {% if plan_tag_k == PLAN_TAGS_DEFAULT %}
          $(".div_{{ plan_tag_k }}").show();
        {% else %}
          $(".div_{{ plan_tag_k }}").hide();
        {% endif %}
      {% endfor %}
      // main loop for tags
      {% for plan_tag in PLAN_TAGS %}
        $("#button_{{ plan_tag }}").click(function () {
          {% for plan_tag_k in PLAN_TAGS %}
            {% if plan_tag_k == plan_tag %}
              $(".div_{{ plan_tag_k }}").show();
            {% else %}
              $(".div_{{ plan_tag_k }}").hide();
            {% endif %}
          {% endfor %}
        });
      {% endfor %}
    });
    {% endif %}
  });
</script>
{% endblock javascript %}
