name: Build and deploy docs

on:
  push:
    branches:
      - "master"
      # Push events to branches matching
        # refs/heads/stable/2.5
        # refs/heads/stable/10
        # refs/heads/stable/2
        # refs/heads/stable/2.5.6
      - "stable/[0-9]+(.[0-9])*(.[0-9])*"

  workflow_dispatch: # to trigger manually

env:
  POETRY_VERSION: "1.2.2"
  POETRY_VIRTUALENVS_IN_PROJECT: "1"
  LATEST_STABLE_BRANCH: "stable/2.7"

jobs:

  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
          python-version: ${{ matrix.python-version }}

    # to keep poetry setup as generic as possible
    - name: Get full Python version
      id: full-python-version
      run: echo ::set-output name=version::$(python -c "import sys; print('-'.join(str(v) for v in sys.version_info))")

    - name: Install poetry (${{ env.POETRY_VERSION }}) binary on runner
      run: |
        curl -sL https://install.python-poetry.org | python - --version ${{ env.POETRY_VERSION }}

    - name: Set up cache
      uses: actions/cache@v3
      id: cache
      with:
        path: .venv
        key: venv-${{ steps.full-python-version.outputs.version }}-${{ hashFiles('**/poetry.lock') }}

    - name: Ensure cache is healthy
      if: steps.cache.outputs.cache-hit == 'true'
      run: timeout 10s poetry run pip --version || rm -rf .venv

    - name: Install dependencies
      run: poetry install --with docs

    - name: Configure git user to make commit
      run: |
        git config user.name "Arnav Choudhury"
        git config user.email "arnav13@gmail.com"

    - name: Fetch gh-pages remote changes (if any)
      run: git fetch origin gh-pages --depth=1

    - name: Deploy (and Update) docs for the branch, ${GITHUB_REF##*/}
      run: poetry run mike deploy --push --rebase "${GITHUB_REF##*/}"

    - name: Set default docs to ${LATEST_STABLE_BRANCH##*/}
      run: poetry run mike set-default --push --rebase "${LATEST_STABLE_BRANCH##*/}"
