name: Build and deploy docs

on:
  push:
    branches:
      - "master"
      # Push events to branches matching "stable/*"
      - "stable/.+"

  workflow_dispatch: # to trigger manually

env:
  POETRY_VERSION: "1.2.2"
  POETRY_VIRTUALENVS_IN_PROJECT: "1"
  LATEST_STABLE_BRANCH: "stable/2.7"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/install_poetry_action
        with:
            POETRY_VERSION: ${{ env.POETRY_VERSION }}
            python_version: "3.11"

      - name: Install dependencies
        run: poetry install --with docs

      - name: Configure git user to make commit
        run: |
          git config user.name "dj-stripe commit bot"
          git config user.email "admin@djstripe.dev"

      - name: Fetch gh-pages remote changes (if any)
        run: git fetch origin gh-pages --depth=1

      - name: Deploy (and Update) docs for the branch, ${GITHUB_REF##*/}
        run: poetry run mike deploy --push --rebase "${GITHUB_REF##*/}"

      - name: Set default docs to ${LATEST_STABLE_BRANCH##*/}
        run: poetry run mike set-default --push --rebase "${LATEST_STABLE_BRANCH##*/}"
