# Run pre-commit autoupdate every 1st of the month
# and create PRs for any updates

name: Pre-commit auto-update

on:
  schedule:
  - cron: "0 0 1 * *"
  workflow_dispatch: # to trigger manually

jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install pre-commit
      run: pip install pre-commit

    - name: Run pre-commit autoupdate
      run: pre-commit autoupdate

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4.1.2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: update/pre-commit-autoupdate
        title: Auto-update pre-commit hooks
        commit-message: Auto-update pre-commit hooks
        body: Update versions of tools in pre-commit configs to latest version
        labels: update
